<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body onfocus="autoClick()">
    <!-- <div onmouseenter="autoClick()"> -->
        Select Voice: <select id='voiceList'></select> <br><br>

        <!-- id='txtInput'<input id='txtInput' onmousemove="updateInput(this.value)" placeholder="Enter input here"/> <br><br> -->
        <!-- <p id='txtInput'>hehe</p> -->
        <h3>Your text are:</h3>
        <p id="demo" onmousemove="updateInput(this.value)">Plase wait a moment</p>
        <!-- <button type="button" onclick="loadDoc()">Request data</button> -->
        <button id="speak-btn" onmouseover="autoClick()" style="visibility: hidden">Speak!</button>
        <!-- <p onload="myFunction()" id='btnSpeak'>Speak!</p> -->
    <!-- </div> -->

    <script src="js/text-to-speech.js"></script>
</body>

</html>